/* navigation custom styling */
body {
    background-color: rgb(1, 56, 80);
    background-repeat: repeat;
    background-size: cover;
    background-position-x: center;
}
.customNavBg>a.navbar-brand:hover {
    color: white
}

.customNavBg li {
    margin-right: 20px;
}

.customNavBg li.nav-item.active>a {
    color: orange;
    font-weight: bold;
}

.customNavBg a {
    color: white;
}

.customNavBg li>a:hover {
    color: orange;
    text-decoration: unset;
    font-weight: bold;
    transform: scale(1.01);
}

.customNavBg a.dropdown-item {
    color: #d3ba2a;
    background-color: transparent;
}

.customNavBg a.dropdown-item:hover {
    color: orange;
    text-decoration: underline;
}

