/* navigation custom styling */
body {
	background-image: url("/assets/images/nature.JPG") !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

.customNavBg {
	background-color: black !important;
	padding-top: 0 !important;
	object-fit: cover;
}

.customNavBg>a.navbar-brand:hover {
	color: black
}

.customNavBg li {
	margin-right: 20px;
}

.customNavBg li.nav-item.active>a {
	color: orange;
	font-weight: bold;
}

.customNavBg a {
	color: white;
}

.customNavBg li>a:hover {
	color: orange;
	text-decoration: unset;
	font-weight: bold;
	transform: scale(1.01);
}

.customNavBg a.dropdown-item {
	color: black;
	background-color: transparent;
}

.customNavBg a.dropdown-item:hover {
	color: orange;
	text-decoration: underline;
}

/*footer*/
footer {
	padding: 10px;
	background: black;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 50px;
	text-align: center;
	color: white;
	z-index: 2;
}

.customContainer {
	background-color: black;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 0 20px 30px 20px;
}

.topSection,
.middleSection,
.bottomSection {
	margin-left: 30px;
	margin-right: 30px;
}

.experience,
.education,
.funFactSection {
	margin-top: 40px
}

.avataContainer div {
	display: flex;
	justify-content: center;
}

.avataImage {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	transform: translateY(-75px);
}

.headlineTitle h1 {
	text-align: center;
	transform: translateY(-50px);
	text-transform: uppercase;
}

.headlineTitle span {
	color: #af34ad;
	font-weight: thin;
	letter-spacing: 18px;
	font-style: italic;
	font-family: monospace;
}

hr.firstHr {
	transform: translateY(-30px);
}

.experience hr {
	margin: center;
}

/* ==== Middle Section ==== */
.sectionTitle {
	color: rgb(0, 255, 153);
	text-transform: uppercase;
	font-weight: thin;
	font-family: monospace
}
.sectionTitle2{
	color: white;
}
	
/* Education */
.subSectionBox {
	margin: center;
	align-items: center;
	color: white;
}

.education .subSectionBox div:first-child>p {
	font-weight: bold;
	color: #34af95;
}

.eduDesBox {
	background-color: red;
	padding: 10px;
	color: white;
	border-radius: 10px;
}

.eduDesBox p,
.experience p,
.education .subSectionBox p {
	margin-bottom: 0;
}

/* Experience */
.experience .subSectionBox div.row {
	align-items: center;
	margin: center;
}

.experience div.subSectionBox div.col-3 p:first-child {
	color: #af34ad;
}

p.year {
	font-weight: lighter;
	color: white;
	font-style: italic;
}

.experience .jobTitle {
	font-weight: bold;
	color: rgb(255, 0, 187);
}

/* fun fact section */
.funFact {
	justify-content: space-between;
}

.funFact span {
	padding: 10px;
	color: #af34ad;
	font-size: 15px;
}

/* contact */
.contact i {
	font-size: 20px;
	color: #af34ad;
	font-size: 20px;
	margin: center;
}

/* skills */
.technicalSkills p,
.softSkills p {
	background-color: rgb(0, 255, 153);
	padding: 10px;
	color: white;
	border-radius: 10px;
	text-align: center;
}

.softSkills p {
	background-color: rgb(0, 255, 247);
	padding: 10px;
	color: white;
	border-radius: 10px;
	text-align: center;
}

/* hobbie sections */
.hobbies p {
	padding: 10px 5px;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	margin:center;
}

/* === bottom section ===*/
.bottomSection .projectSection {
	align-items: center;
}

.projectSection>div p {
	color: #af34ad;
	font-weight: bold;
}

.projectSection>div a p:hover {
	color: red;
}


.projectSection>div a:hover {
	text-decoration: none;
}

.projectSection ul {
	list-style: none;
	padding: 0;
}

.projectSection ul>li i {
	color: rgb(255, 0, 136);
	margin-right: 5px;
}

/* MEDIA QUERIES */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.experience p.description {
		display: center;
	}

	.experience hr {
		margin-inline-end: 0;
	}

	.education .subSectionBox {
		margin-right: 0;
	}

	.experience .jobTitle {
		float: middle;
	}
}